################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApp4/v17
/FigureLibrary/bin/Debug/net5.0
/FigureLibrary/obj
/FigureTest/bin/Debug/net5.0
/FigureTest/obj
/obj
/.vs
/FigureTest/bin/Release/net5.0
